/* Ensure this file is processed by PostCSS with Tailwind CSS plugin */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global CSS or tailwind config */
.react-calendar {
  background-color: transparent;
  color: white;
}
.react-calendar__tile--now {
  background: #374151 !important;
  color: #22c55e !important;
}
.react-calendar__tile--active {
  background: #1f2937 !important;
  color: white;
}
